{% extends "../layout.html" %}
<!-- {% load crispy_forms_tags %}  -->
{% load static %}
{% block content %}
<div class="content-section">
    <!-- {{ form.media }} 
    <form method="POST">
        <fieldset>
            <legend class="border-bottom pb-2 mb-4 text-center">Inventory Add Form</legend>
            {% csrf_token %}
            <div class="form-group">
               
            </div>
            <div class="form-group pt-4">
                <button class="btn btn-outline-success" type="submit">Submit</button>
            </div>
      </fieldset>
    </form> -->
    <form method="POST" class="modern-form">
        {% csrf_token %}
        <h2 class="text-center mb-4">Inventory Add Form</h2>
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Product Name</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="{{ form.quantity_in_stock.id_for_label }}">Quantity in Stock</label>
            {{ form.quantity_in_stock }}
        </div>
        <div class="form-group">
            <label for="{{ form.quantity_sold.id_for_label }}">Quantity Sold</label>
            {{ form.quantity_sold }}
        </div>
        <div class="form-group">
            <label for="{{ form.cost_per_item.id_for_label }}">Cost per Item</label>
            {{ form.cost_per_item }}
        </div>
        <div class="form-group text-center">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}