body {
    background-color: rgb(245, 245, 245);
  }
  
.content-section {
    height: 350px;
    background-position: center;
    background-size: cover;
    background: #fff;
    margin: 40px;
    padding: 1.5rem 1.5rem;
    border-radius: 10px;
}

.image-container{
  background-image: url('https://images.pexels.com/photos/9004748/pexels-photo-9004748.jpeg?auto=compress&cs=tinysrgb&w=400');
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form-label {
  margin-top: 20px;
}

.btn{
  border: solid 1px green;
}

.btn-container{
  display: flex;
  align-items: center;
  gap: 12px;
}

